In [1]:
import pandas as pd
working_path = "C:\\Users\\NileNile\\Desktop\\REPOSITORY\\VICTIMS_OF_FALL_MASTER_THESIS"

In [5]:
df_Precipitati_score = pd.read_excel(f"{working_path}\\data\\PrecipitatiScore.xlsx", index_col = None)

In [6]:
df_anatomical_parts = df_Precipitati_score.drop(["Casi", "Sesso", "Età", "Altezza soggetto", "Peso", "Altezza di precipitazione (m)", "mgh", "BMI"], axis = 1)

In [7]:
major_area = ["TESTA", "TORACE", "ADDOME", "SCHELETRO"]
columns = df_anatomical_parts.columns

def adjust_numbers(x):
    target_major_area = 0
    summa = 0
    for p in range(1, len(x)):
        if columns[p] in major_area:
            x[target_major_area] = summa
            target_major_area = p
            summa = 0
        else:
            if x[p] > 2:
                x[p] = 1
            else:
                x[p] = 0
            summa += x[p]
    x[target_major_area] = summa
    return x
df_anatomical_parts_adjusted = df_anatomical_parts.apply(lambda x: adjust_numbers(x), axis =1)

In [8]:
for c in columns:
    df_Precipitati_score[c] = df_anatomical_parts_adjusted[c]

In [10]:
df_Precipitati_score.to_csv(f"{working_path}\\data\\Precipitati_score.csv")

In [4]:
df_victims_of_fall_V1 = pd.read_csv(f"{working_path}\\data\\victims_of_fall_V1.csv", index_col=0)
df_Precipitati_score_cvs = pd.read_csv(f"{working_path}\\data\\Precipitati_score.csv", index_col=0)

In [3]:
df_victims_of_fall_V1.sort_values(by = "Altezza di precipitazione (m)")

,Casi,Sesso,Età,Altezza soggetto,Peso,BMI,Altezza di precipitazione (m),mgh,TESTA,Neurocranio,...,Milza,Aorta Add,Reni,Mesentere,SCHELETRO,Rachide Cervicale,Rachide Toracico,Rachide Lombare,Bacino,Complesso S-C-C
0,144,M,56.0,170.0,95.2,32.941176,6,5597.76,2,1,...,0,0,0,0,1,0,0,0,0,1
30,299,M,70.0,168.0,97.0,34.367914,6,5703.60,0,0,...,0,1,0,0,1,0,0,0,0,1
31,281,F,NaN,168.0,NaN,NaN,6,NaN,3,1,...,0,0,0,0,1,0,0,0,0,1
32,156,F,45.0,169.0,100.8,35.292882,6,5927.04,0,0,...,0,0,0,0,2,1,1,0,0,0
33,128,M,59.0,170.0,61.0,21.107266,6,3586.80,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,257,M,83.0,162.0,NaN,NaN,24,NaN,0,0,...,1,0,0,0,2,0,1,0,0,1
353,12,M,68.0,163.0,59.0,22.206331,24,13876.80,0,0,...,0,0,0,0,2,0,0,0,1,1
354,254,M,68.0,163.0,59.1,22.243969,24,13900.32,0,0,...,0,0,0,0,2,0,0,0,1,1
356,178,M,23.0,163.0,73.5,27.663819,24,17287.20,1,1,...,0,0,1,0,3,0,0,1,1,1
384,2,M,39.0,184.0,96.9,28.621219,24,22790.88,0,0,...,0,0,1,0,1,0,0,0,0,1

In [30]:
df_victims_of_fall_V2 = df_victims_of_fall_V1.append(df_Precipitati_score_cvs, ignore_index=True)

In [51]:
df_victims_of_fall_V2.to_csv(f"{working_path}\\data\\victims_of_fall_V2.csv")

In [5]:
df_victims_of_fall_V2 = pd.read_csv(f"{working_path}\\data\\victims_of_fall_V2.csv", index_col=0)
df_victims_of_fall_V2 = df_victims_of_fall_V2.dropna()

In [6]:
df_victims_of_fall_V2

,Casi,Sesso,Età,Altezza soggetto,Peso,BMI,Altezza di precipitazione (m),mgh,TESTA,Neurocranio,...,Milza,Aorta Add,Reni,Mesentere,SCHELETRO,Rachide Cervicale,Rachide Toracico,Rachide Lombare,Bacino,Complesso S-C-C
0,144,M,56.0,170.0,95.2,32.941176,6,5597.76,2,1,...,0,0,0,0,1,0,0,0,0,1
1,140,M,62.0,148.0,29.6,13.513514,6,1740.48,0,0,...,0,0,0,0,1,0,0,0,1,0
2,208,M,88.0,159.0,61.0,24.128792,6,3586.80,0,0,...,0,0,0,0,1,0,0,0,0,1
3,142,M,59.0,160.0,62.8,24.531250,6,3692.64,1,0,...,0,0,0,0,1,0,0,0,0,1
4,141,M,64.0,162.0,56.3,21.452522,6,3310.44,1,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,100491,M,58.0,181.0,123.0,37.544641,15,18081.00,0,0,...,0,0,0,0,3,0,1,0,1,1
445,99387,F,34.0,175.0,63.2,20.636735,21,13006.56,0,0,...,0,0,1,0,0,0,0,0,0,0
446,99696,F,76.0,157.0,50.0,20.284799,18,8820.00,0,0,...,0,0,0,0,3,1,0,0,1,1
447,98253,M,49.0,184.0,106.3,31.397684,18,18751.32,0,0,...,1,0,0,0,3,0,1,0,1,1
448,99748,M,34.0,177.0,69.7,22.247758,18,12295.08,1,1,...,1,0,0,0,2,0,0,0,1,1

In [50]:
df_victims_of_fall_V2.reset_index(drop=True)

,Casi,Sesso,Età,Altezza soggetto,Peso,BMI,Altezza di precipitazione (m),mgh,TESTA,Neurocranio,...,Milza,Aorta Add,Reni,Mesentere,SCHELETRO,Rachide Cervicale,Rachide Toracico,Rachide Lombare,Bacino,Complesso S-C-C
0,144,M,56.0,170.0,95.2,32.941176,6,5597.76,2,1,...,0,0,0,0,1,0,0,0,0,1
1,140,M,62.0,148.0,29.6,13.513514,6,1740.48,0,0,...,0,0,0,0,1,0,0,0,1,0
2,208,M,88.0,159.0,61.0,24.128792,6,3586.80,0,0,...,0,0,0,0,1,0,0,0,0,1
3,142,M,59.0,160.0,62.8,24.531250,6,3692.64,1,0,...,0,0,0,0,1,0,0,0,0,1
4,141,M,64.0,162.0,56.3,21.452522,6,3310.44,1,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,100491,M,58.0,181.0,123.0,37.544641,15,18081.00,0,0,...,0,0,0,0,3,0,1,0,1,1
401,99387,F,34.0,175.0,63.2,20.636735,21,13006.56,0,0,...,0,0,1,0,0,0,0,0,0,0
402,99696,F,76.0,157.0,50.0,20.284799,18,8820.00,0,0,...,0,0,0,0,3,1,0,0,1,1
403,98253,M,49.0,184.0,106.3,31.397684,18,18751.32,0,0,...,1,0,0,0,3,0,1,0,1,1
404,99748,M,34.0,177.0,69.7,22.247758,18,12295.08,1,1,...,1,0,0,0,2,0,0,0,1,1

In [5]:
df_victims_of_fall_V1 = pd.read_csv(f"{working_path}\\data\\victims_of_fall_V1.csv", index_col=0)
df_Precipitati_score_cvs = pd.read_csv(f"{working_path}\\data\\Precipitati_score.csv", index_col=0)

In [10]:
V1_heights = list(df_victims_of_fall_V1["Altezza di precipitazione (m)"].unique())

In [11]:
def normalize_heights(x):
    print(f"Before:{x}")
    x = min(V1_heights, key=lambda h:abs(h-x))
    print(f"After:{x}")
    return x
df_Precipitati_score_cvs["Altezza di precipitazione (m)"] = df_Precipitati_score_cvs["Altezza di precipitazione (m)"].apply(lambda x: normalize_heights(x))

Before:33
After:24
Before:12
After:12
Before:12
After:12
Before:30
After:24
Before:12
After:12
Before:15
After:15
Before:15
After:15
Before:6
After:6
Before:18
After:18
Before:3
After:6
Before:24
After:24
Before:15
After:15
Before:12
After:12
Before:15
After:15
Before:15
After:15
Before:12
After:12
Before:18
After:18
Before:12
After:12
Before:9
After:9
Before:33
After:24
Before:24
After:24
Before:12
After:12
Before:39
After:24
Before:24
After:24
Before:24
After:24
Before:18
After:18
Before:6
After:6
Before:24
After:24
Before:15
After:15
Before:6
After:6
Before:18
After:18
Before:12
After:12
Before:12
After:12
Before:15
After:15
Before:18
After:18
Before:5
After:6
Before:30
After:24
Before:6
After:6
Before:12
After:12
Before:8
After:9
Before:12
After:12
Before:15
After:15
Before:20
After:21
Before:15
After:15
Before:18
After:18
Before:51
After:24
Before:27
After:24
Before:13
After:12
Before:15
After:15
Before:9
After:9
Before:15
After:15
Before:6
After:6
Before:21
After:21
Before:15
After:15
Before:10
After:9
Before:21
After:21
Before:18
After:18
Before:24
After:24
Before:15
After:15
Before:15
After:15
Before:21
After:21
Before:18
After:18
Before:18
After:18
Before:18
After:18

In [14]:
df_victims_of_fall_V2 = df_victims_of_fall_V1.append(df_Precipitati_score_cvs, ignore_index=True)
df_victims_of_fall_V2 = df_victims_of_fall_V2.dropna()
df_victims_of_fall_V2.to_csv(f"{working_path}\\data\\victims_of_fall_V2.csv")

In [15]:
len(df_victims_of_fall_V2)

405

In [16]:
df_victims_of_fall_V2

,Casi,Sesso,Età,Altezza soggetto,Peso,BMI,Altezza di precipitazione (m),mgh,TESTA,Neurocranio,...,Milza,Aorta Add,Reni,Mesentere,SCHELETRO,Rachide Cervicale,Rachide Toracico,Rachide Lombare,Bacino,Complesso S-C-C
0,144,M,56.0,170.0,95.2,32.941176,6,5597.76,2,1,...,0,0,0,0,1,0,0,0,0,1
1,140,M,62.0,148.0,29.6,13.513514,6,1740.48,0,0,...,0,0,0,0,1,0,0,0,1,0
2,208,M,88.0,159.0,61.0,24.128792,6,3586.80,0,0,...,0,0,0,0,1,0,0,0,0,1
3,142,M,59.0,160.0,62.8,24.531250,6,3692.64,1,0,...,0,0,0,0,1,0,0,0,0,1
4,141,M,64.0,162.0,56.3,21.452522,6,3310.44,1,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,100491,M,58.0,181.0,123.0,37.544641,15,18081.00,0,0,...,0,0,0,0,3,0,1,0,1,1
445,99387,F,34.0,175.0,63.2,20.636735,21,13006.56,0,0,...,0,0,1,0,0,0,0,0,0,0
446,99696,F,76.0,157.0,50.0,20.284799,18,8820.00,0,0,...,0,0,0,0,3,1,0,0,1,1
447,98253,M,49.0,184.0,106.3,31.397684,18,18751.32,0,0,...,1,0,0,0,3,0,1,0,1,1
448,99748,M,34.0,177.0,69.7,22.247758,18,12295.08,1,1,...,1,0,0,0,2,0,0,0,1,1